.team-image {
  height: 15vh;
}
.name {
  font-size: 30px;
  text-decoration: none;
  margin-left: 10px;
  color: #ffffff;
}
.team-card {
  background-color: #ffffff33;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  width: 40vw;
}
